/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.tooltip-multiline {
  white-space: pre;
  font-size: 14px;
}

.white-content .card-total {
  box-shadow: 0px 1px 18px 0 rgba(154, 154, 154, 0.4);
  background-image: linear-gradient(to bottom right, #0081ff, #009cff, #13d7f4) !important;
}

.card-total {
  background-image: linear-gradient(to top, #51406f, #656690);
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  background-image: linear-gradient(to top, #1e2750, #353061);
}

.white-content .sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  background-image: none;
}

.main-panel .content {
  background-image: url(/src/app/frontend/assets/img/layer-0-copy.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &:before {
    content: '';
    width: 100%;
    height: 40vw;
    position: absolute;
    background: url(/src/app/frontend/assets/img/layer-2.png);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.4;
    background-position: bottom;
  }
}

.white-content .main-panel .content {
  background-image: none;

  &:before {
    display: none;
  }
}

.ahihi .chart-area {
  height: 110px !important;
}

.ahehe .chart-area {
  height: 80px !important;
}

.percentDounughChart {
  .doughnut-chart-area {
    height: 20vw !important;
  }

  @media only screen and (max-width: 768px) {
    .doughnut-chart-area {
      height: 30vw !important;
    }
  }

  @media only screen and (max-width: 576px) {
    .doughnut-chart-area {
      height: 43vw !important;
    }
  }

}

.throughput-chart .chart-area {
  height: 212px !important;
}

.col-lg-20,
.col-lg-80 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-80 {
    flex: 0 0 80%;
    max-width: 80%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .cardsw .col-lg-3 {
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 80%;
      top: 10%;
      left: 0;
      border-right: 1px solid #e8e8e8;
    }
  }

}

@media (max-width: 992px) {
  .cardsw .col-lg-3 {
    &:after {
      content: "";
      position: absolute;
      width: 80%;
      height: 1px;
      bottom: 0;
      left: 10%;
      border-bottom: 1px solid #e8e8e8;
    }

    &:last-child:after {
      display: none !important;
    }
  }

  .card-suite .table-full-width {
    max-height: 410px !important;
    position: relative;
  }
}


.table-responsive tr.even {
  background: rgba(255, 255, 255, 0.1);
}

.white-content .table-responsive tr.even {
  //    background: #ecefef;
  background: #47a1f91a;
}

.card-chart .table td {
  border-bottom: none !important;
}

app-icons .table-responsive td {
  border-color: transparent !important;
}

app-icons .table-responsive {
  background: #eaeaea21;
  border-radius: 10px;
}

.white-content app-icons .table-responsive {
  background: #fff;
}

.white-content app-dashboard .btn-outline-primary {
  border-radius: 20px;
  border: solid 1px #0081ff !important;

  &:hover,
  &:active {
    background: rgba(85, 88, 127, 0.6) !important;
  }

  &:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

